<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">

<title>
Sistema Inteligente de Monitoreo de Alimentos
</title>

<link rel="stylesheet"
href="{{ url_for('static',
filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>
Sistema Inteligente de Monitoreo
</h1>

{% if ultima %}

<div class="card">

<h2>Última Lectura</h2>

<p>
<strong>Hogar:</strong>
{{ ultima.hogar_id }}
</p>

<p>
<strong>Alimento:</strong>
{{ ultima.alimento }}
</p>

<p>
<strong>Estado:</strong>
{{ ultima.estado }}
</p>

<p>
<strong>Temperatura:</strong>
{{ ultima.temperatura }} °C
</p>

<p>
<strong>Humedad:</strong>
{{ ultima.humedad }} %
</p>

<p>
<strong>Vida útil:</strong>
{{ ultima.vida_util }} días
</p>

<p>
<strong>Fecha:</strong>
{{ ultima.fecha }}
</p>

</div>

{% endif %}

<h2>Historial</h2>

<table>

<tr>
<th>ID</th>
<th>Hogar</th>
<th>Alimento</th>
<th>Estado</th>
<th>Temp</th>
<th>Humedad</th>
<th>Vida útil</th>
<th>Fecha</th>
</tr>

{% for item in lecturas %}

<tr>

<td>{{ item.id }}</td>

<td>{{ item.hogar_id }}</td>

<td>{{ item.alimento }}</td>

<td>{{ item.estado }}</td>

<td>{{ item.temperatura }}</td>

<td>{{ item.humedad }}</td>

<td>{{ item.vida_util }}</td>

<td>{{ item.fecha }}</td>

</tr>

{% endfor %}

</table>

</div>

</body>

</html>